<div class="hidden lg:p-20" id="create-story" uk-modal="">
    <div class="uk-modal-dialog tt relative overflow-hidden mx-auto bg-white p-7 shadow-xl rounded-lg md:w-
                 [520px] w-full">

    <div class="text-center py-3 border-b -m-7 mb-0 dark:border-slate-700">
        <h2 class="text-sm font-medium">Create Story</h2>
        <button type="button" class="button__icon absolute top-0 right-0 m-2.5 uk-modal-close">

                <svg fill="#000000" width="8px" height="8px" viewBox="-6 -6 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-close"><path d='M7.314 5.9l3.535-3.536A1 1 0 1 0 9.435.95L5.899 4.485 2.364.95A1 1 0 1 0 .95 2.364l3.535 3.535L.95 9.435a1 1 0 1 0 1.414 1.414l3.535-3.535 3.536 3.535a1 1 0 1 0 1.414-1.414L7.314 5.899z' /></svg>
        
            </button>
    </div>
    <div class="space-y-5 mt-7">
        <form>
            <div>
                <div class="w-full h-72 relative border1 rounded-lg overflow-hidden bg-[url('.../images/ad_pattern.png')] bg-repeat">
                    <label class="flex flex-col justify-center items-center absolute -translate-x-1/2 left-1/2
                           bottom-0 z-10 w-full pb-6 pt-10 cursor-pointer bg-gradient-to-t from-
                            gray-700/60">
                        <input id="createStatusUrl" name="UploadedContent" type="file" accept="image/png, image/jpeg"/>
                        <ion-icon name="image" class="text-3xl text-teal-600"></ion-icon>
                        <span class="text-white mt-2">Browse to Upload image</span>
                        </label>
                    <img />
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div class="flex items-start gap-2">
                        <ion-icon name="time-outline" class="text-3xl text-teal-600 rounded-full bg-blue-50">
                            </ion-icon>
                            <p class="text-sm text-gray-500 font-merdium">Your status will be availible <br /> for 
                                <span class="text-gray-800">24 Hours</span></p>
                </div>
                <button type="submit" class="button bg-blue-500 text-white px-8">Create</button>
            </div>
        </form>
    </div>
    </div>
</div>
